<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<h1>Регистрация</h1>
	<form th:action="@{/ui/auth/register}" method="post">
		<div>
			<label>Имя пользователя</label>
			<input type="text" name="username" required />
		</div>
		<div>
			<label>Пароль</label>
			<input type="password" name="password" required />
		</div>
		<div>
			<label>Подтвердите пароль</label>
			<input type="password" name="confirmPassword" required />
		</div>
		<div>
			<button type="submit">Зарегистрироваться</button>
		</div>
	</form>
	<p>
		Уже есть аккаунт? <a th:href="@{/ui/auth/login}">Войти</a>
	</p>
</body>
</html>