spring:
  application:
    name: NauJava
  datasource:
    url: jdbc:postgresql://localhost:5433/testing_system
    username: postgres
    password: strong_password
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics

security:
  jwt:
    access-expiration-ms: 600000
    refresh-expiration-ms: 600000
  origin-fronted: http://localhost:5173