spring:
  application:
    name: NauJava
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
  docker:
    compose:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics

security:
  jwt:
    access-expiration-ms: 600000
    refresh-expiration-ms: 6000000
  origin-fronted: ${SECURITY_ORIGIN_FRONTED}

admin:
  main:
    create: true
