spring:
  application:
    name: NauJava
  datasource:
    url:
    username:
    password:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics

app:
  name: System of testing
  version: 1.0.0

